<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Shows Management</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="css/home.css">
    <style>
        .error-message {
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        .characteristics {
            font-size: 19px;
            color: white;
        }
        #button {
            margin-top:40px;
        }
        .form .field {
            margin-top: 30px;
        }
    </style>
</head>

<body>
<header class="logoClass">
    <a href="/main" class="img"><img th:src="@{/img/logo.png}" class="image-logo" alt="logo"></a>
    <div class="links">
        <a href="/admin/cities">Manage Cities</a>
        <a href="/admin/cinemas">Manage Cinemas</a>
        <a href="/admin/shows">Manage Shows</a>
        <a href="/admin/movies">Manage Movies</a>
        <a href="/admin/users">Manage Users</a>
        <a class="active" href="/logout">Logout</a>
    </div>
</header>

<section class="container forms" style="height:110vh;">
    <div class="form signup">
        <div class="form-content">
            <div th:if="${message != null}">
                <div class="error-message"
                     th:style="${message == 'You have successfully updated show'} ?
                  'background-color: green;' :'background-color: #d93025;'">
                    <p>[[${message}]]</p>
                </div>
            </div>
            <div th:if="${error != null}">
                <div class="error-message"
                     th:style="'background-color: #d93025;'">
                    <p>[[${error}]]</p>
                </div>
            </div>
            <div th:if="${error == null}">
                <header class="header">Update Show</header>
                <form action="#" th:action="@{/admin/shows/{hallId}/updateShow(hallId=${hallId})}" th:object="${show}" method="POST">
                    <div class="full-field id-field">
                        <div class="field input-field" style="height: 0;">
                            <input type="hidden" th:field="*{id}" />
                        </div>
                    </div>
                    <div class="full-field price">
                        <div class="field input-field">
                            <label class="characteristics">Price</label>
                            <input th:field="*{price}" type="number" value="60" min="0" name = "price" placeholder="Price" class="price" id="price" required>
                        </div>
                    </div>
                    <div class="full-field start">
                        <div class="field input-field">
                            <label class="characteristics">Start Time</label>
                            <input type="datetime-local" th:field="*{formattedStartDate}" name="start" required>
                        </div>
                    </div>
                    <div class="full-field end">
                        <div class="field input-field">
                            <label class="characteristics">End Time</label>
                            <input type="datetime-local" th:field="*{formattedEndDate}" name="end" required>
                        </div>
                    </div>
                    <div class="full-field movie">
                        <div class="field input-field">
                            <label class="characteristics">Movie</label>
                            <select name="movie" id="movie" class="movie" th:field="*{movie.title}" required>
                                <option th:each="movie:${movies}"
                                        th:value="${movie.title}"
                                        th:text="${movie.title}"></option>
                            </select><br>
                        </div>
                    </div>
                    <div class="full-field hallId-field">
                        <div class="field input-field" style="height: 0;">
                            <input type="hidden" th:field="*{hallId}" />
                        </div>
                    </div>
                    <div class="field button-field input-field button" id="button">
                        <button type="submit">Update</button>
                    </div>
                    <div class="form-link">
                        <span> <a th:href="@{/admin/shows/{hallId}(hallId = ${hallId})}" class="link login-link">Back to Hall Shows List</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
