<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Halls Management</title>
    <link rel="stylesheet" href="css/home.css" th:href="@{/css/home.css}">
    <style>
        .error-message {
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 10px;
            font-size: 20px;
        }
    </style>

</head>
<body>
<header class="logoClass">
    <a href="/main" class="img"><img th:src="@{/img/logo.png}" class="image-logo" alt="logo"></a>
    <div class="links">
        <a href="/admin/bookings">Manage Bookings</a>
        <a href="/admin/cities">Manage Cities</a>
        <a href="/admin/cinemas">Manage Cinemas</a>
        <a href="/admin/shows">Manage Shows</a>
        <a href="/admin/movies">Manage Movies</a>
        <a href="/admin/users">Manage Users</a>
        <a class="active" href="/logout">Logout</a>
    </div>
</header>
<div class="container">
    <div style="display: block;">
        <div th:if="${error != null}">
            <div class="error-message"
                 th:style="'background-color: #d93025;'">
                <p>[[${error}]]</p>
            </div>
        </div>
        <div class = "table" th:if="${error == null}">
            <h1 style="font-size: 40px;">Halls List</h1>
            <div class ="addUser">
                <a th:href = "@{{cinemaId}/showNewHallForm(cinemaId=${cinemaId})}"> Add Hall </a>
            </div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rows</th>
                        <th>Columns</th>
                        <th>Shows</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="hall : ${listHalls}">
                        <td th:text="${hall.hallName}"></td>
                        <td th:text="${hall.rows}"></td>
                        <td th:text="${hall.columns}"></td>
                        <td>
                            <a style="background-color: #0078e0" th:href="@{/admin/shows/{hallId}(hallId=${hall.id})}">View Shows</a>
                        </td>
                        <td><a th:href="@{/admin/halls/{cinemaId}/showFormForUpdate/{id}(cinemaId=${cinemaId}, id=${hall.id})}">Update</a>
                            <a th:href="@{/admin/halls/{cinemaId}/deleteHall/{id}(cinemaId=${cinemaId}, id=${hall.id})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="paginationButtons" style="display:flex;
    flex-direction: row; gap:4px; margin:25px 10px;">
                    <div class="pgButton" id="prev" th:if="${page != 1}">
                        <a th:href="@{/admin/halls/{cinemaId}(cinemaId = ${cinemaId}, page=@{{page}(page=${page}-1)},pageSize=3)}">Previous</a>
                    </div>
                    <div></div>
                    <div class="pgButton" id="next" th:if="${page != (totalPages)}">
                        <a th:href="@{/admin/halls/{cinemaId}(cinemaId = ${cinemaId}, page=@{{page}(page=${page}+1)},pageSize=3)}">Next</a>
                    </div>
                </div>
                <div class="form-link">
                    <span> <a href="/admin/cinemas" class="link login-link">Back to Cinemas List</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
