<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
<header class="logoClass">
    <a href="/main" class="img"><img src="img/logo.png" class="image-logo" alt="logo"></a>
    <div class="links">
        <a sec:authorize="hasAnyAuthority('ADMIN', 'SUPER_ADMIN')" href="/admin/users">Admin Panel</a>
        <a href="/shows">Shows</a>
        <a sec:authorize="isAnonymous()" class="active" href="/login">Login</a>
        <a sec:authorize="hasAnyAuthority('USER', 'ADMIN', 'SUPER_ADMIN')" class="active" href="/logout">Logout</a>
    </div>
</header>
<div class="container">
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!-- Include any necessary stylesheets and scripts -->
</head>
<body>
<!-- Your main page content -->

<script>
    // Perform the status check when the page loads
    window.onload = function() {
        checkStatus();
    };

    // Function to check payment status
    async function checkStatus() {
        const clientSecret = new URLSearchParams(window.location.search).get(
            "payment_intent_client_secret"
        );

        if (!clientSecret) {
            return;
        }

        try {
            const booking = localStorage.getItem('booking');
            const response = await fetch("/save-booking", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: booking,
            });
            localStorage.removeItem('booking');
            if (response.ok) {
                console.log("Payment status checked successfully.");
                // Handle the response as needed
            } else {
                console.error("Failed to check payment status.");
            }
        } catch (error) {
            console.error("Error checking payment status:", error);
        }
    }
</script>
</body>
</html>

</body>
</html>
