<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <script defer="defer" src="js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="css/main.css">
    <title>Password Reset Request</title>
    <style>
        .error-message {
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<header class="logo"><a href="/main"><img src="img/logo.png" class="image-logo" alt="logo"></a></header>
<section class="container forms">
    <div class="form reset">
        <div class="form-content">

            <div th:if="${error != null}">
                <div class="error-message" style="background-color: #d93025;">
                    <p>[[${error}]]</p>
                </div>
            </div>

            <div th:if="${param.success}">
                <div class="error-message" style="background-color: green;">
                    <p>Password reset link sent to your email</p>
                </div>
            </div>
            <header>Reset Password</header>
            <form method="post"
                  role="form"
                  th:action="@{/password-request}">

                <div class="full-field email-field">
                    <div class="field input-field">
                        <input type="email" placeholder="Email" class="input email" id="username" name="username" required>
                    </div>
                </div>
                <div class="field button-field">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>
