<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script defer="defer" src="js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="css/main.css">
    <title>Register</title>
</head>
<body>
<header class="logo"><a href="/main"><img src="img/logo.png" class="image-logo" alt="logo"></a></header>
<section class="container forms">
    <div class="form signup">
        <div class="form-content">
            <header>Register</header>
            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>
                <div class="field input-field">
                    <input type="text" placeholder="First Name" class="input">
                </div>
                <div class="field input-field">
                    <input type="text" placeholder="Last Name" class="input">
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field input-field">
                    <input type="password" placeholder="Confirm password" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <div class="field button-field">
                    <button>Register</button>
                </div>
            </form>
            <div class="form-link">
                <span>Already have an account? <a href="/login" class="link login-link">Login</a></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
