<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <script defer="defer" src="js/script.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"/>
    <link rel="stylesheet" href="css/main.css">
    <title>Reset Password</title>
    <style>
        .error-message {
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<header class="logo"><a href="/main"><img src="img/logo.png" class="image-logo" alt="logo"></a></header>
<section class="container forms">
    <div class="form reset">
        <div class="form-content">
            <div th:if="${message != null}">
                <div class="error-message"
                th:style="${message == 'You have successfully reset your password'} ?
                  'background-color: green;' :'background-color: #d93025;'">
                    <p>[[${message}]]</p>
                </div>
            </div>
            <header>Reset Password</header>
            <form method="post"
                  role="form"
                  th:action="@{/reset-password}">
                <div class="full-field create-password">
                <div class="field input-field">
                    <input type="password" id="password" name="password"
                           placeholder="Enter your new password" required class="password">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                </div>

                <div class="full-field confirm-password">
                <div class="field input-field">
                    <input type="password" id="confirmPassword" name="cPassword"
                           placeholder="Confirm new password" required class="cPassword">
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                </div>

                <div class="field button-field">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <div class="form-link">
                <span><a href="/login" class="link login-link">Log in</a></span>
            </div>
        </div>
    </div>
</section>
</body>
</html>
