<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Seats Management</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="css/home.css">
    <style>
        .error-message {
            color: #fff;
            padding: 10px;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 15px;
            margin-top: 10px;
        }
        #button {
            margin-top:40px;
        }
        .form .field {
            margin-top: 30px;
        }
        .characteristics {
            font-size: 19px;
            color: white;
        }
    </style>
</head>

<body>
<header class="logoClass">
    <a href="/main" class="img"><img th:src="@{/img/logo.png}" class="image-logo" alt="logo"></a>
    <div class="links">
        <a href="/admin/cities">Manage Cities</a>
        <a href="/admin/cinemas">Manage Cinemas</a>
        <a href="/admin/shows">Manage Shows</a>
        <a href="/admin/movies">Manage Movies</a>
        <a href="/admin/users">Manage Users</a>
        <a class="active" href="/logout">Logout</a>
    </div>
</header>

<section class="container forms" style="height:92.5vh;">
    <div class="form signup">
        <div class="form-content">
            <div th:if="${message != null}">
                <div class="error-message"
                     th:style="${message == 'You have successfully updated seat'} ?
                  'background-color: green;' :'background-color: #d93025;'">
                    <p>[[${message}]]</p>
                </div>
            </div>
            <div th:if="${error != null}">
                <div class="error-message"
                     th:style="'background-color: #d93025;'">
                    <p>[[${error}]]</p>
                </div>
            </div>
            <div th:if="${error == null}">
                <header class="header">Update Seat</header>
                <form action="#" th:action="@{/admin/seats/{hallId}/updateSeat(hallId=${hallId})}" th:object="${seat}" method="POST">
                    <div class="full-field id-field">
                        <div class="field input-field" style="height: 0;">
                            <input type="hidden" th:field="*{id}" />
                        </div>
                    </div>
                    <div class="full-field number-field">
                        <div class="field input-field" style="height: 0;">
                            <input type="hidden" th:field="*{number}" />
                        </div>
                    </div>


                    <div class="full-field">
                        <div class="field input-field">
                            <label class="characteristics">Is Booked</label>
                            <select name="isBooked" th:field="*{booked}" required>
                                <option th:value="true">True</option>
                                <option th:value="false">False</option>
                            </select><br>
                        </div>
                    </div>


                    <div class="field button-field input-field button" id="button">
                        <button type="submit">Update</button>
                    </div>
                    <div class="form-link">
                        <span> <a th:href="@{/admin/seats/{hallId}(hallId=${hallId})}" class="link login-link">Back to Seats List</a></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>
