<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encoding App</title>
    <link rel="stylesheet" href="/static/css/history.css" th:href="@{/css/history.css}"/>
</head>
<body th:style="'background-image:url(' + @{/images/img.png} + ');'">
<div class="container">
    <h2>History</h2>
    <div class="buttons">
        <a href="/historyList" class="button">Show full history</a>
        <a class="button" onclick="showAlgorithm()">Show history by algorithm</a>
        <div id="algorithm" class="line" style="display: none;">
            <form th:action="@{/history/algorithm}" method="POST" th:object="${historyParamsDTO}">
                <div>
                    <label>Algorithm:</label>
                    <select id="algorithmName" th:field="*{algorithm}">
                        <option th:each="cipher:
${T(org.geekhub.encryption.ciphers.CipherAlgorithm).values()}"
                                th:value="${cipher}"
                                th:text="${cipher.displayValue}"></option>
                    </select><br>
                </div>
                <div class="buttonSubmit">
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        <a class="button" onclick="showRecordId()">Show history by record id</a>
        <div id="recordId" class="line" style="display: none;">
            <form th:action="@{/history/recordId}" method="POST" th:object="${historyParamsDTO}">
                <div>
                    <label>Record id:</label>
                    <input type="number" name="recordId" min="1" th:field="*{recordId}"><br>
                </div>
                <div class="buttonSubmit">
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        <a class="button" onclick="showUserId()">Show history by user id</a>
        <div id="userId" class="line" style="display: none;">
            <form th:action="@{/history/userId}" method="POST" th:object="${historyParamsDTO}">
                <div>
                    <label>User id:</label>
                    <input type="number" name="userId" min="1" th:field="*{userId}"><br>
                </div>
                <div class="buttonSubmit">
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        <a class="button" onclick="showDate()">Show history by date range</a>
        <div id="date" class="line" style="display: none;">
            <form th:action="@{/history/date}" method="POST" th:object="${historyParamsDTO}">
                <div>
                    <label>Date from:</label>
                    <input type="datetime-local" name="date" th:field="*{dateFrom}"><br>
                </div>
                <div>
                    <label>Date to:</label>
                    <input type="datetime-local" name="date" th:field="*{dateTo}"><br>
                </div>
                <div class="buttonSubmit">
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        <a class="button" onclick="showAlgorithmAndOperationType()">Show history by algorithm and operation type</a>
        <div id="algorithmAndOperation" class="line" style="display: none;">
            <form th:action="@{/history/algorithmAndOperation}" method="POST" th:object="${historyParamsDTO}">
                <div>
                    <label>Algorithm:</label>
                    <select id="algorithmName2" th:field="*{algorithm}">
                        <option th:each="cipher:
${T(org.geekhub.encryption.ciphers.CipherAlgorithm).values()}"
                                th:value="${cipher}"
                                th:text="${cipher.displayValue}"></option>
                    </select><br>
                </div>
                <div>
                    <label>Operation type:</label>
                    <select name="operationType" th:field="*{operationType}">
                        <option th:each="operation:
${T(org.geekhub.encryption.ciphers.OperationType).values()}"
                                th:value="${operation}"
                                th:text="${operation.displayValue}"></option>
                    </select><br>
                </div>
                <div class="buttonSubmit">
                    <button type="submit">Find</button>
                </div>
            </form>
        </div>
        <a href="/" class="button" id="backButton">Back to main page</a>
    </div>
</div>

<script th:inline="javascript">
    function showAlgorithm() {
        document.getElementById("algorithm").style.display = "block";
        document.getElementById("recordId").style.display = "none";
        document.getElementById("userId").style.display = "none";
        document.getElementById("date").style.display = "none";
        document.getElementById("algorithmAndOperation").style.display = "none";
    }

    function showRecordId() {
        document.getElementById("algorithm").style.display = "none";
        document.getElementById("recordId").style.display = "block";
        document.getElementById("userId").style.display = "none";
        document.getElementById("date").style.display = "none";
        document.getElementById("algorithmAndOperation").style.display = "none";
    }

    function showUserId() {
        document.getElementById("algorithm").style.display = "none";
        document.getElementById("recordId").style.display = "none";
        document.getElementById("userId").style.display = "block";
        document.getElementById("date").style.display = "none";
        document.getElementById("algorithmAndOperation").style.display = "none";
    }

    function showDate() {
        document.getElementById("algorithm").style.display = "none";
        document.getElementById("recordId").style.display = "bone";
        document.getElementById("userId").style.display = "none";
        document.getElementById("date").style.display = "block";
        document.getElementById("algorithmAndOperation").style.display = "none";
    }

    function showAlgorithmAndOperationType() {
        document.getElementById("algorithm").style.display = "none";
        document.getElementById("recordId").style.display = "none";
        document.getElementById("userId").style.display = "none";
        document.getElementById("date").style.display = "none";
        document.getElementById("algorithmAndOperation").style.display = "block";
    }
</script>
</body>
</html>
