<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encoding App</title>
    <link rel="stylesheet" href="/static/css/table.css" th:href="@{/css/table.css}"/>
</head>
<body>
<h2>History</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Original Message</th>
        <th>Encoded Message</th>
        <th>Algorithm</th>
        <th>Date</th>
        <th>Operation Type</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${entries}">
        <td th:text="${entry.recordId}">ID</td>
        <td th:text="${entry.originalMessage}">Original Message</td>
        <td th:text="${entry.processedMessage}">Encoded Message</td>
        <td th:text="${entry.algorithmName}">Algorithm</td>
        <td th:text="${entry.date}">Date</td>
        <td th:text="${entry.operationType}">Operation Type</td>
        <td th:text="${entry.status}">Status</td>
    </tr>
    </tbody>
</table>
</body>
</html>
