<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encoding App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body th:style="'background-image:url(' + @{/images/img.png} + ');'">
<div class="container">
    <h1>Welcome to Encoding App</h1>
    <div class="buttons">
        <a href="/encoding" class="button"><i class="fa-solid fa-file-code"></i> Encode Message</a>
        <a href="/history" class="button"><i class="fa-solid fa-clock-rotate-left"></i> Show History</a>
        <a href="/users" class="button"><i class="fa-solid fa-users"></i> Show Users</a>
    </div>
</div>
</body>
</html>
