<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Encoding App</title>
    <link rel="stylesheet" href="/static/css/table.css" th:href="@{/css/table.css}"/>
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userId}">ID</td>
        <td th:text="${user.username}">Name</td>
        <td th:text="${user.email}">Email</td>
    </tr>
    </tbody>
</table>
<a href="/" class="button">Back to main page</a>
</body>
</html>
